{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sheet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="{% static 'css/sheet.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/css/tom-select.css" rel="stylesheet">
</head>

<body>

    <form class="charsheet" method="post">
        {% csrf_token %}
        <div class="btn-toolbar">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" style="margin: 22px;" href="{% url 'private-area' %}">Volver</a>
            <button class="btn btn-primary" type="submit" style="margin: 22px;">Guardar</button>
            <button class="btn btn-primary" type="button" style="margin: 22px;" data-bs-toggle="modal" data-bs-target="#modal-generador">Generador Personaje</button>
        </div>
        <div class="btn-group" role="group">

        </div>
    </div>
  <header>
    <section class="charname">
      <label for="charname">Nombre del personaje</label><input name="charname" id="sheet-charname"{% if sheet is not None %} value="{{ sheet.charname }}"{% endif %} placeholder="Lego Las" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="classlevel">Clase y nivel</label><input name="classlevel"{% if sheet is not None %} value="{{ sheet.classlevel }}"{% endif %} placeholder="Explorador 6" />
        </li>
        <li>
          <label for="background">Trasfondo</label><input name="background"{% if sheet is not None %} value="{{ sheet.background }}"{% endif %} placeholder="Príncipe de los Bosques" />
        </li>
        <li>
          <label for="playername">Usuario</label><input name="playername"{% if sheet is not None %} value="{{ sheet.playername }}"{% endif %} placeholder="Player McPlayerface">
        </li>
        <li>
          <label for="race">Raza</label><input name="race"{% if sheet is not None %} value="{{ sheet.race }}"{% endif %} placeholder="Alto Elfo" />
        </li>
        <li>
          <label for="alignment">Alineamineto</label><input name="alignment"{% if sheet is not None %} value="{{ sheet.alignment }}"{% endif %} placeholder="Caótico Estúpido" />
        </li>
        <li>
          <label for="experiencepoints">Puntos de experiencia</label><input name="experiencepoints"{% if sheet is not None %} value="{{ sheet.experiencepoints }}"{% endif %} placeholder="3240" />
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">Fuerza</label><input name="Strengthscore"{% if sheet is not None %} value="{{ sheet.Strengthscore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Strengthmod"{% if sheet is not None %} value="{{ sheet.Strengthmod }}"{% endif %} placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">Destreza</label><input name="Dexterityscore"{% if sheet is not None %} value="{{ sheet.Dexterityscore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Dexteritymod"{% if sheet is not None %} value="{{ sheet.Dexteritymod }}"{% endif %} placeholder="+0" class=statmod/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">Constitución</label><input name="Constitutionscore"{% if sheet is not None %} value="{{ sheet.Constitutionscore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Constitutionmod"{% if sheet is not None %} value="{{ sheet.Constitutionmod }}"{% endif %} placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">Sabiduría</label><input name="Wisdomscore"{% if sheet is not None %} value="{{ sheet.Wisdomscore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Wisdommod"{% if sheet is not None %} value="{{ sheet.Wisdommod }}"{% endif %} placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">Inteligencia</label><input name="Intelligencescore"{% if sheet is not None %} value="{{ sheet.Intelligencescore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Intelligencemod"{% if sheet is not None %} value="{{ sheet.Intelligencemod }}"{% endif %} placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">Carisma</label><input name="Charismascore"{% if sheet is not None %} value="{{ sheet.Charismascore }}"{% endif %} placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input name="Charismamod"{% if sheet is not None %} value="{{ sheet.Charismamod }}"{% endif %} placeholder="+0" class="statmod"/>
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box">
            <div class="label-container">
              <label for="inspiration">Inspiración</label>
            </div>
            <input name="inspiration"{% if sheet is not None and sheet.inspiration == 'on' %} checked{% endif %} type="checkbox" />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Bonificador de competencia</label>
            </div>
            <input name="proficiencybonus"{% if sheet is not None %} value="{{ sheet.proficiencybonus }}"{% endif %} placeholder="+2" />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="Strengthsave">Fuerza</label><input name="Strengthsave"{% if sheet is not None %} value="{{ sheet.Strengthsave }}"{% endif %} placeholder="+0" type="text" /><input name="Strengthsaveprof"{% if sheet is not None and sheet.Strengthsaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Dexteritysave">Destreza</label><input name="Dexteritysave"{% if sheet is not None %} value="{{ sheet.Dexteritysave }}"{% endif %} placeholder="+0" type="text" /><input name="Dexteritysaveprof"{% if sheet is not None and sheet.Dexteritysaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Constitutionsave">Constitución</label><input name="Constitutionsave"{% if sheet is not None %} value="{{ sheet.Constitutionsave }}"{% endif %} placeholder="+0" type="text" /><input name="Constitutionsaveprof"{% if sheet is not None and sheet.Constitutionsaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Wisdomsave">Sabiduría</label><input name="Wisdomsave"{% if sheet is not None %} value="{{ sheet.Wisdomsave }}"{% endif %} placeholder="+0" type="text" /><input name="Wisdomsaveprof"{% if sheet is not None and sheet.Wisdomsaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Intelligencesave">Inteligencia</label><input name="Intelligencesave"{% if sheet is not None %} value="{{ sheet.Intelligencesave }}"{% endif %} placeholder="+0" type="text" /><input name="Intelligencesaveprof"{% if sheet is not None and sheet.Intelligencesaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Charismasave">Carisma</label><input name="Charismasave"{% if sheet is not None %} value="{{ sheet.Charismasave }}"{% endif %} placeholder="+0" type="text" /><input name="Charismasaveprof"{% if sheet is not None and sheet.Charismasaveprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
            </ul>
            <div class="label">
              Salvaciones
            </div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics">Acrobacias <span class="skill">(Des)</span></label><input name="Acrobatics"{% if sheet is not None %} value="{{ sheet.Acrobatics }}"{% endif %} placeholder="+0" type="text" /><input name="Acrobaticsprof"{% if sheet is not None and sheet.Acrobaticsprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Animal Handling">Trato con animales<span class="skill">(Sab)</span></label><input name="AnimalHandling"{% if sheet is not None %} value="{{ sheet.AnimalHandling }}"{% endif %} placeholder="+0" type="text" /><input name="AnimalHandlingprof"{% if sheet is not None and sheet.AnimalHandlingprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Arcana">Arcano <span class="skill">(Int)</span></label><input name="Arcana"{% if sheet is not None %} value="{{ sheet.Arcana }}"{% endif %} placeholder="+0" type="text" /><input name="Arcanaprof"{% if sheet is not None and sheet.Arcanaprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Athletics">Atletismo <span class="skill">(Fue)</span></label><input name="Athletics"{% if sheet is not None %} value="{{ sheet.Athletics }}"{% endif %} placeholder="+0" type="text" /><input name="Athleticsprof"{% if sheet is not None and sheet.Athleticsprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Deception">Engañar <span class="skill">(Car)</span></label><input name="Deception"{% if sheet is not None %} value="{{ sheet.Deception }}"{% endif %} placeholder="+0" type="text" /><input name="Deceptionprof"{% if sheet is not None and sheet.Deceptionprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="History">Historia <span class="skill">(Int)</span></label><input name="History"{% if sheet is not None %} value="{{ sheet.History }}"{% endif %} placeholder="+0" type="text" /><input name="Historyprof"{% if sheet is not None and sheet.Historyprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Insight">Averiguar intenciones <span class="skill">(Sab)</span></label><input name="Insight"{% if sheet is not None %} value="{{ sheet.Insight }}"{% endif %} placeholder="+0" type="text" /><input name="Insightprof"{% if sheet is not None and sheet.Insightprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Intimidation">Intimidación <span class="skill">(Car)</span></label><input name="Intimidation"{% if sheet is not None %} value="{{ sheet.Intimidation }}"{% endif %} placeholder="+0" type="text" /><input name="Intimidationprof"{% if sheet is not None and sheet.Intimidationprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Investigation">Investigación <span class="skill">(Int)</span></label><input name="Investigation"{% if sheet is not None %} value="{{ sheet.Investigation }}"{% endif %} placeholder="+0" type="text" /><input name="Investigationprof"{% if sheet is not None and sheet.Investigationprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Medicine">Medicina <span class="skill">(Sab)</span></label><input name="Medicine"{% if sheet is not None %} value="{{ sheet.Medicine }}"{% endif %} placeholder="+0" type="text" /><input name="Medicineprof"{% if sheet is not None and sheet.Medicineprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Nature">Naturaleza<span class="skill">(Int)</span></label><input name="Nature"{% if sheet is not None %} value="{{ sheet.Nature }}"{% endif %} placeholder="+0" type="text" /><input name="Natureprof"{% if sheet is not None and sheet.Natureprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Perception">Percepción <span class="skill">(Sab)</span></label><input name="Perception"{% if sheet is not None %} value="{{ sheet.Perception }}"{% endif %} placeholder="+0" type="text" /><input name="Perceptionprof"{% if sheet is not None and sheet.Perceptionprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Performance">Actuación <span class="skill">(Car)</span></label><input name="Performance"{% if sheet is not None %} value="{{ sheet.Performance }}"{% endif %} placeholder="+0" type="text" /><input name="Performanceprof"{% if sheet is not None and sheet.Performanceprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Persuasion">Persuasión <span class="skill">(Car)</span></label><input name="Persuasion"{% if sheet is not None %} value="{{ sheet.Persuasion }}"{% endif %} placeholder="+0" type="text" /><input name="Persuasionprof"{% if sheet is not None and sheet.Persuasionprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Religion">Religión <span class="skill">(Int)</span></label><input name="Religion"{% if sheet is not None %} value="{{ sheet.Religion }}"{% endif %} placeholder="+0" type="text" /><input name="Religionprof"{% if sheet is not None and sheet.Religionprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Sleight of Hand">Juego de manos <span class="skill">(Des)</span></label><input name="SleightofHand"{% if sheet is not None %} value="{{ sheet.SleightofHand }}"{% endif %} placeholder="+0" type="text" /><input name="SleightofHandprof"{% if sheet is not None and sheet.SleightofHandprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Stealth">Sigilo <span class="skill">(Des)</span></label><input name="Stealth"{% if sheet is not None %} value="{{ sheet.Stealth }}"{% endif %} placeholder="+0" type="text" /><input name="Stealthprof"{% if sheet is not None and sheet.Stealthprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
              <li>
                <label for="Survival">Supervivencia <span class="skill">(Sab)</span></label><input name="Survival"{% if sheet is not None %} value="{{ sheet.Survival }}"{% endif %} placeholder="+0" type="text" /><input name="Survivalprof"{% if sheet is not None and sheet.Survivalprof == 'on' %} checked{% endif %} type="checkbox" />
              </li>
            </ul>
            <div class="label">
              Habilidades
            </div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception">Sabiduría pasiva (Percepción)</label>
        </div>
        <input name="passiveperception"{% if sheet is not None %} value="{{ sheet.passiveperception }}"{% endif %} placeholder="10" />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprofs">Otras competencias y lenguajes</label><textarea name="otherprofs">{% if sheet is not None %}{{ sheet.otherprofs }}{% endif %}</textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac">Clase de armadura</label><input name="ac"{% if sheet is not None %} value="{{ sheet.ac }}"{% endif %} placeholder="10" type="text" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative">Iniciativa</label><input name="initiative"{% if sheet is not None %} value="{{ sheet.initiative }}"{% endif %} placeholder="+0" type="text" />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed">Velocidad</label><input name="speed"{% if sheet is not None %} value="{{ sheet.speed }}"{% endif %} placeholder="30" type="text" />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Puntos de golpe máximos</label><input name="maxhp"{% if sheet is not None %} value="{{ sheet.maxhp }}"{% endif %} placeholder="10" type="text" />
            </div>
            <div class="current">
              <label for="currenthp">Puntos de golpe actuales</label><input name="currenthp"{% if sheet is not None %} value="{{ sheet.currenthp }}"{% endif %} type="text" />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Puntos de golpe temporales</label><input name="temphp"{% if sheet is not None %} value="{{ sheet.temphp }}"{% endif %} type="text" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label onclick="totalhd_clicked()" for="totalhd">Total</label><input name="totalhd"{% if sheet is not None %} value="{{ sheet.totalhd }}"{% endif %} placeholder="2d10" type="text" />
            </div>
            <div class="remaining">
              <label for="remaininghd">Dados de golpe</label><input name="remaininghd"{% if sheet is not None %} value="{{ sheet.remaininghd }}"{% endif %} type="text" />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Salvaciones de muerte</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label>Éxitos</label>
                <div class="bubbles">
                  <input name="deathsuccess1"{% if sheet is not None and sheet.deathsuccess1 == 'on' %} checked{% endif %} type="checkbox" />
                  <input name="deathsuccess2"{% if sheet is not None and sheet.deathsuccess2 == 'on' %} checked{% endif %} type="checkbox" />
                  <input name="deathsuccess3"{% if sheet is not None and sheet.deathsuccess3 == 'on' %} checked{% endif %} type="checkbox" />
                </div>
              </div>
              <div class="deathfails">
                <label>Fallos</label>
                <div class="bubbles">
                  <input name="deathfail1"{% if sheet is not None and sheet.deathfail1 == 'on' %} checked{% endif %} type="checkbox" />
                  <input name="deathfail2"{% if sheet is not None and sheet.deathfail2 == 'on' %} checked{% endif %} type="checkbox" />
                  <input name="deathfail3"{% if sheet is not None and sheet.deathfail3 == 'on' %} checked{% endif %} type="checkbox" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label>Ataques y hechizos</label>
          <table>
            <thead>
              <tr>
                <th>
                  Nombre
                </th>
                <th>
                  Bonificador de ataque
                </th>
                <th>
                  Daño/tipo
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input name="atkname1"{% if sheet is not None %} value="{{ sheet.atkname1 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkbonus1"{% if sheet is not None %} value="{{ sheet.atkbonus1 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkdamage1"{% if sheet is not None %} value="{{ sheet.atkdamage1 }}"{% endif %} type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname2"{% if sheet is not None %} value="{{ sheet.atkname2 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkbonus2"{% if sheet is not None %} value="{{ sheet.atkbonus2 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkdamage2"{% if sheet is not None %} value="{{ sheet.atkdamage2 }}"{% endif %} type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname3"{% if sheet is not None %} value="{{ sheet.atkname3 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkbonus3"{% if sheet is not None %} value="{{ sheet.atkbonus3 }}"{% endif %} type="text" />
                </td>
                <td>
                  <input name="atkdamage3"{% if sheet is not None %} value="{{ sheet.atkdamage3 }}"{% endif %} type="text" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label>Equipo</label>
          <div class="money">
            <ul>
              <li>
                <label for="cp">PC</label><input name="cp"{% if sheet is not None %} value="{{ sheet.cp }}"{% endif %} />
              </li>
              <li>
                <label for="sp">PP</label><input name="sp"{% if sheet is not None %} value="{{ sheet.sp }}"{% endif %} />
              </li>
              <li>
                <label for="ep">PE</label><input name="ep"{% if sheet is not None %} value="{{ sheet.ep }}"{% endif %} />
              </li>
              <li>
                <label for="gp">PO</label><input name="gp"{% if sheet is not None %} value="{{ sheet.gp }}"{% endif %} />
              </li>
              <li>
                <label for="pp">PP</label><input name="pp"{% if sheet is not None %} value="{{ sheet.pp }}"{% endif %} />
              </li>
            </ul>
          </div>
          <textarea name="equipmentList" placeholder="Lista de equipo">{% if sheet is not None %}{{ sheet.equipmentList }}{% endif %}</textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="flavor">
        <div class="personality">
          <label for="personality">Personalidad</label><textarea name="personality">{% if sheet is not None %}{{ sheet.personality }}{% endif %}</textarea>
        </div>
        <div class="ideals">
          <label for="ideals">Ideales</label><textarea name="ideals">{% if sheet is not None %}{{ sheet.ideals }}{% endif %}</textarea>
        </div>
        <div class="bonds">
          <label for="bonds">Vínculos</label><textarea name="bonds">{% if sheet is not None %}{{ sheet.bonds }}{% endif %}</textarea>
        </div>
        <div class="flaws">
          <label for="flaws">Defectos</label><textarea name="flaws">{% if sheet is not None %}{{ sheet.flaws }}{% endif %}</textarea>
        </div>
      </section>
      <section class="features">
        <div>
          <label for="features">Rasgos y atributos</label><textarea name="features">{% if sheet is not None %}{{ sheet.features }}{% endif %}</textarea>
        </div>
      </section>
    </section>
  </main>
</form>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-generador">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Generador de personaje</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">General</button></h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel">
                                <div class="accordion-body">
                                    <form  autocomplete="off">
                                        <div class="row">
                                            <div class="col"><label class="col-form-label">Nombre<input id="text-nombre" class="form-control" type="text"></label></div>
                                            <div class="col"><label class="form-label">Alineamiento</label><select class="tomselect-basic" placeholder="Selecciona..." >
                                                                                        <option value="">Select a person...</option>

                                                        {% for alineamiento in ficheroGeneral.alineamientos %}
                                                            <option value="{{ alineamiento }}">{{ alineamiento }}</option>
                                                        {% endfor %}
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Resumen del concepto</label><input class="form-control" type="text"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Clase</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel">
                                <div class="accordion-body">
                                    <form  autocomplete="off">
                                        <div class="row">
                                            <div class="col"><label class="form-label">Clase</label><select class="tomselect-basic" id="clase-selector" placeholder="Seleciona uno..">
                                            <option value="">Seleciona uno..</option>
                                                    {% for clase,value in ficheroClases.clases.items %}
                                                            <option value="{{ clase }}"  data-habilidades-max="{{ value.Habilidades_a_elegir }}" data-subclases="{{ value.Subclases }}" data-habilidades="{{ value.Habilidades }}"
                                                                    data-equipoA="{{ value.Equipo_A }}"data-equipoB="{{ value.Equipo_B }}"data-equipoC="{{ value.Equipo_C }}"data-herramientas-max="{{ value.Herramientas_a_elegir }}"
                                                                    data-herramientas="{{ value.Herramientas }}">{{ clase }}
                                                            </option>
                                                        {% endfor %}
                                                </select></div>
                                            <div class="col"><label class="form-label">Habilidades</label>
                                                <select  id="habilidades-selector" name="habilidades-select[]" multiple placeholder="Seleciona" autocomplete="off"></select>
                                            </div>
                                               <div class="col"><label class="form-label">Equipo inicial</label>
                                                <select class="tomselect-basic" id="equipoA-selector"></select>
                                                <select class="tomselect-basic" id="equipoB-selector"></select>
                                                <select class="tomselect-basic" id="equipoC-selector"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Subclase<br></label><select class="tomselect-basic" id="subclase-selector">
                                                </select></div>
                                            <div class="col"><label class="form-label">Herramientas</label>
                                                <select  id="herramientas-selector" name="herramientas-select[]" multiple placeholder="Seleciona" autocomplete="off">
                                                </select></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Trasfondo</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel">
                                <div class="accordion-body">
                                    <form  autocomplete="off">
                                        <div class="row">
                                            <div class="col"><label class="form-label">Seleccionar Trasfondo</label><select class="form-select">
                                                    {% for trasfondo in ficheroTrasfondos.trasfondos %}
                                                            <option value="{{ trasfondo }}">{{ trasfondo }}</option>
                                                        {% endfor %}
                                                </select></div>
                                            <div class="col"><label class="form-label">lenguajes</label><select class="form-select">
                                                   {% for idioma in ficheroGeneral.idiomas %}
                                                            <option value="{{ idioma }}">{{ idioma }}</option>
                                                        {% endfor %}
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Competencia de habilidades</label><select class="form-select">

                                                </select></div>
                                            <div class="col"><label class="form-label">Herramientas</label><select class="form-select">

                                                </select></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4">Hechizos</button></h2>
                                <div class="accordion-collapse collapse item-4" role="tabpanel">
                                    <div class="accordion-body">
                                        <form  autocomplete="off">
                                            <div class="row">
                                                <div class="col"><label class="form-label">Equipo inicial. Elige entre:</label></div>
                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Una gran hacha</label></div>
                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Cualquier arma marcial cuerpo a cuerpo</label></div>
                                                <label class="form-label">También recibes<br></label>
                                            </div>
                                            <div class="col"><label class="form-label">o :</label>
                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Dos hachas de mano</label></div>
                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Cualquier arma simple</label></div>
                                                <label class="form-label">Un equipo de explorador y 4 jabalinas<br></label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5">Raza y características</button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel">
                                <div class="accordion-body">
                                    <form  autocomplete="off">
                                        <div class="row">
                                            <div class="col"><label class="form-label">Raza</label><select class="form-select">
                                                    {% for raza in ficheroRazas.razas %}
                                                            <option value="{{ raza }}">{{ raza }}</option>
                                                        {% endfor %}
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Fuerza&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin: 0px;margin-left: 10px;margin-top: 8px;">+2</span><select class="form-select">
                                                    <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Destreza&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin-left: 10px;margin-top: 8px;">+2</span><select class="form-select">
                                                     <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                    </form>
                                    <form>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Constitución&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin: 0px;margin-left: 10px;margin-top: 8px;">+2</span><select class="form-select">
                                                      <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Sabiduría&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin-top: 8px;margin-left: 10px;">+2</span><select class="form-select">
                                                     <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                    </form>
                                    <form>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Inteligencia&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin-top: 8px;margin-left: 10px;">+2</span><select class="form-select">
                                                    <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label class="form-label">Carisma&nbsp; &nbsp;</label><span class="badge bg-primary" style="margin-left: 10px;margin-top: 8px;">+2</span><select class="form-select">
                                                     <option value="15" selected="">15</option>
                                                    <option value="14" selected="">14</option>
                                                    <option value="13" selected="">13</option>
                                                    <option value="12" selected="">12</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="8" selected="">8</option>
                                                </select></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary" id="button-guardar" type="button" data-bs-dismiss="modal">Guardar</button></div>
            </div>
        </div>
    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/js/tom-select.complete.min.js"></script>
    <script src="{% static 'js/sheet.js' %}" defer></script>
</body>

</html>